{% extends '@WucdbmGallery/Product/Image/gallery/layout.html.twig' %}

{% block content %}

    {% if images|length %}
        {% for row in images|array_chunk(6) %}
            <div class="row">
                {% for image in row %}
                    <div class="col-md-2">
                        <div class="form-group">
                            <img src="{{ image|productImageUrl }}" class="img-responsive gallery-image" data-image="{{ image|productImageUrl }}" data-name="{{ image.name }}" rel="tooltip" title="{{ image.name }}" />
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    {% else %}
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-danger">
                    Все още не са качени снимки за този продукт
                </div>
            </div>
        </div>
    {% endif %}

{% endblock %}